
Factory/.idea/workspace.xml
Factory/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Factory/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Factory/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Factory/target/maven-archiver/pom.properties
Factory/target/classes/mx/itam/Server.class
Factory/target/classes/mx/itam/PersonalComputer.class
Factory/target/classes/mx/itam/Main.class
Factory/target/classes/mx/itam/ComputerFactory.class
Factory/target/classes/mx/itam/Computer.class
Factory/.idea/modules.xml
Factory/.idea/misc.xml
Factory/.idea/encodings.xml
Factory/.idea/compiler.xml
Factory/.idea/artifacts/Factory.xml
